<div class="movie-container" *ngIf="movieData$ | async as movieDetail">
  <div class="mat-display-2">{{ movieDetail.movie.title }}</div>
  <div class="movie-detail">
    <div
      [ngStyle]="{
        'background-size': 'cover',
        'background-image':
          'url(' + (movieDetail.movie.backdrop_path | poster: 'original') + ')',
        width: '100%'
      }"
    >
      <div class="overlay">
        <button mat-icon-button aria-label="favorite" (click)="setFavorite()">
          <mat-icon>{{ favorite ? "favorite" : "favorite_border" }}</mat-icon>
        </button>
      </div>
      <!-- </div> -->
    </div>
    <app-accordion
      [movie]="movieDetail.movie"
      [genres]="movieDetail.genres"
    ></app-accordion>
    <!-- <div>
      <app-credits [cast]="castTmdb"></app-credits>
      <app-videos *ngIf="videosTmdb.length > 0" [videos]="videosTmdb"></app-videos>
    </div> -->
  </div>
</div>
